*
{
    margin: 0;
    padding: 0;
}
h1{
    background-color: rgb(20, 13, 97);
    color: aliceblue;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices
{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
    
}
.score-board
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin-top: 3rem;
    gap: 5rem;
}
#msg {
    display: flex;
    margin-top: 5rem;
    align-items: center;
    justify-content: center; 
    background-color: rgb(255, 249, 249);
    color: rgb(10, 10, 10);
    font-size: 2rem;
    margin-top: 5rem;
    
  }
  
button
{
    padding: 20px;
    margin:0 10px;
    font-size: 4rem;
}